<div class="container">
    <div class="content-wrapper">
       <mat-form-field>
           <mat-label>Name</mat-label>
            <input matInput [(ngModel)] ="triviaservice.username" placeholder="Enter Your Name" />
       </mat-form-field>
       <button routerLink ='/trivia' mat-button class="start-button">Start</button>
       <h2>LeaderBoard</h2>
       <div class="leaderboard">
        <div class="row">
           
            <div class="name-col">UserName</div>
            <div class="name-col">ScoreName</div>
        </div>
        <div class="row" *ngFor =" let score of scores">
           
            <div class="name-col">{{score.username}}</div>
            <div class="name-col">{{score.score}}</div>
        </div>
        
       </div>
    </div>
</div>
